<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{=it.title}}</title>
        <link href="/build/all.css" rel="stylesheet"/>
        <link href="/css/material.css" rel="stylesheet"/>
	</head>
	<body>

        <nav class="fixed-top">
            <div class="nav-container">
                <ul class="nav-menu slideDown">
                    <li> <a class="navbar-brand" href="/"><span class="bigheading">H</span><span class="smallheading">ome Center</span></a> </li>
                    <li class="nav-dropdown"> 
                        <a href="#">Plugins <span class="s-button s-collapse-trigger" href="#">+</span></a>
                        <ul>
                            {{~it.plugins :plugin:index}}
                                <li><a href="/{{=plugin.plugin_name}}">{{=plugin.plugin_name}}</a></li>
                            {{~}}               
                        </ul>   
                    </li>
                    <li><a href="/settings">Configure</a></li>           
                </ul>       
                
                <a class="s-button s-collapse-trigger" href="#">+</a>
            </div>  
        </nav>

        <script src="/build/all.js"></script>
        <script src="/js/main.js"></script>
        <!-- <script src="/ionic/js/ionic.bundle.min.js"></script> -->
		{{=it.body}}
        
	</body>
</html>