<div class="container-fluid">

	<ol class="sortablelist list-group">
        {{~it.services :service:index}}
            <li class="list-group-item" data-id="{{=service.service_id}}" id="{{=service.service_id}}">
                <!-- <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> -->

                <span class="handle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>

                <!-- <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <p class="pull-right">
                    <input type="checkbox" {{? service.homescreen !== -1 }} checked {{?}} >
                </p>

                {{=service.name}}
            </li>
        {{~}}
    </ol>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/bootstrap-switch.js"></script>
</div><!-- /.container-fluid -->

