@font-face {
  font-family: 'Magneto';
  src: url('MAGNETOB.TTF')  format('truetype') /* Safari, Android, iOS */
}


.list-buffer {
  margin-bottom: 15px;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.item-checkbox .checkbox {
  right: 50% !important;
}
.pull-right{
  float: right;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.sortablelist li.placeholder {
  position: relative;
  /** More li styles **/
}
ol.sortablelist li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.sortablelist .list-group-item{
  padding-left: 43px;
}

.handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  font-size: 32px;
  cursor: pointer;
}

.item.selectable:active {
  border-color: #bbb;
  background-color: #ddd;
  margin: 0;
  border-width: 1px;
  border-style: solid;
}

.navbar-brand {
  font-family: 'Magneto';
  padding: 10px 15px;
}

.bigheading{
  /*font-size: 34px;*/
  top: 3px;
  position: relative;
}

.smallheading{
  font-size: 11px;
}

.sortablelist .glyphicon{
  -webkit-transform: scale(2);
  margin-right: 16px;
  color: #ddd;
}


/*********************************** IONIC **************************************/








/*
Copyright (c) 2012 Coding Stuff

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, 
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

For more Check us out www.coding-stuff.com
*/

body {
    margin: 0;
    color: #333333;
  overflow-x: hidden;
}


/* buttons */

.s-button,
.s-button:hover{  
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;  
} 

.s-button{
  padding: 8px 12px;
  font-size: 1.5em;
  text-decoration: none;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  -o-border-radius: 3px; 
  border-radius: 3px;
  font-weight: 1000px;
  background: #eee;
  text-shadow: 0px 1px 1px #fff; 
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(1 ,1 , 1, .6);    
  -webkit-box-shadow: inset 0 2px  5px rgba( 0, 0, 0, .1), 0px 1px 1px rgba( 0, 0, 0, .1);
    -moz-box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .1), 0px 1px 1px rgba( 0, 0, 0, .1);
    box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .1), 0px 1px  1px rgba( 0, 0, 0, .1);  
}

.s-button:hover,
.s-button.default:hover{
  text-decoration: none;
  color: rgba(1 ,1 , 1, 1); 
  border-top: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 1px solid rgba(0, 0, 0, .15);  
  -webkit-box-shadow: inset 0 2px  5px rgba( 0, 0, 0, .1), 0px 1px 1px rgba( 0, 0, 0, .7), 0px 0px 5px rgba( 0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .1), 0px 1px 1px rgba( 0, 0, 0, .7), 0px 0px 5px rgba( 0, 0, 0, .05);
    box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .1), 0px 1px  1px rgba( 0, 0, 0, .7), 0px 0px 5px rgba( 0, 0, 0, .05);   
}

.s-button:active,
.s-button.active{
  color: rgba(1 ,1 , 1, .6);    
  border: 1px solid rgba(0, 0, 0, .2);
  border-top:  1px solid rgba(0, 0, 0, .3);
  border-bottom:  1px solid rgba(0, 0, 0, .3);  
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;   
  -webkit-box-shadow: inset 0 2px  5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .05);
    box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .05);
}

/* Shadow below - levitating apearance */

.w-shadow{
  position: relative;
  margin-bottom: 50px;
}

.w-shadow:after{
  content: ' ';
  position: absolute;
  bottom: -20px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, .1);
  z-index: -1;
  height: 7px;
  -webkit-box-shadow: 0px 0px  15px rgba( 0, 0, 0, .2);
    -moz-box-shadow: 0px 0px  15px rgba( 0, 0, 0, .2);
    box-shadow: 0px 0px  15px rgba( 0, 0, 0, .2); 
  -webkit-border-radius: 180px; 
  -moz-border-radius: 180px; 
  -o-border-radius: 180px; 
  border-radius: 180px; 
  
}


/* navbar */


nav{
  display: block;
  width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
  position: relative;
}

nav .nav-container:before,
nav .nav-container:after {
  display: table;
  line-height: 0;
  content: "";
}

nav .nav-container:after {
  clear: both;
}


nav .nav-menu,
nav .nav-menu ul{
  float: left;
  list-style: none;
  margin: 0px;
  /*margin-left: 15px;  */
  padding: 0px;
  z-index: 10;  
}

nav .nav-menu ul{
  font-size: 13px;
  margin: 0px;  
}

nav .nav-menu li{
  float: left;
  position: relative; 
}

nav .nav-menu.center{
  float: none;
  display: table;
  margin: 0px auto;
}
  
nav .nav-menu li a{
  display: block;
  -webkit-transition: all 140ms ease-in-out;
  -moz-transition: all 140ms ease-in-out;
  -ms-transition: all 140ms ease-in-out;
  -o-transition: all 140ms ease-in-out;
  transition: all 140ms ease-in-out;    
}

nav .nav-menu li a:hover{
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;      
}

nav .nav-menu li a:active{
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;     
}

nav .nav-menu li > ul{
  position: absolute;
  top: 100.999%;
  left: 0px;
  opacity: 0;
  z-index: 9;
  visibility: hidden; 
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;  
}

nav .nav-menu li:hover > ul{
  opacity: 1;
  visibility: visible;  
  display: block; 
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;  
}

nav .nav-menu li ul li > ul{
  left: 100%;
  top: 0px;
}

nav .nav-menu li ul li{
  display: block;
  white-space: nowrap;
  float: none;
} 

/*==========================================

  Nav Positions

============================================*/

nav.fixed-top{
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  -o-border-radius: 0px; 
  border-radius: 0px; 
  z-index: 9999;
}


/*==========================================

  Nav Sizes

============================================*/

/* default size */

nav .nav-menu li a{
  position: relative;
  padding: 13px;
}

nav .nav-menu .nav-dropdown ul li a{
  padding: 10px 25px;
  min-width: 90px;
}

/* nav large */

nav:not(.s-collapse).large .nav-menu li a{
  padding: 20px;
  font-weight: bold;
}

nav:not(.s-collapse).large .nav-menu .nav-dropdown ul li a{
  padding: 13px 25px;
  min-width: 90px;
}

/*============================================

  nav s-collapse trigger

=============================================*/

nav .s-collapse-trigger{
  float: right;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
  height: 20px;
  width: 14px;
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  font-size: 2em;
  display: none;  
}

nav .nav-menu li a > .s-collapse-trigger{
  font-size: 1.5em;
  margin-top: 6px;
  padding: 5px 8px; 
}

nav .nav-menu li ul li .s-collapse-trigger{
  font-size: 1.2em;
  margin-top: 6px;
  margin-right: 12px; 
  padding: 2px 6px; 
}


/*============================================

  dropdown transitions 
  
=============================================*/

/* slideUp */

nav .nav-menu li ul.slideUp,
nav .nav-menu.slideUp ul{
  margin-top: 80%;
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;    
}

nav .nav-menu li:hover >  ul.slideUp,
nav .nav-menu.slideUp li:hover > ul{
  margin-top: 0px;
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;    
}

/* slideDown */

nav:not(.s-collapse) .nav-menu li ul.slideDown > li,
nav:not(.s-collapse) .nav-menu.slideDown ul li{
  visibility: hidden;
  -webkit-transition: all 270ms ease-in-out;
  -moz-transition: all 270ms ease-in-out;
  -ms-transition: all 270ms ease-in-out;
  -o-transition: all 270ms ease-in-out;
  transition: all 270ms ease-in-out;  
}

nav:not(.s-collapse) .nav-menu li ul.slideDown,
nav:not(.s-collapse) .nav-menu.slideDown ul{
  height: 0px;
  margin-top: -100%;
  z-index: -1;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;    
}

nav:not(.s-collapse) .nav-menu li:hover >  ul.slideDown,
nav:not(.s-collapse) .nav-menu.slideDown li:hover > ul{
  height: auto;
  margin-top: 0px;
  min-height: 100%; 
  z-index: 1; 
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;    
}

nav:not(.s-collapse) .nav-menu li:hover >  ul.slideDown li,
nav:not(.s-collapse) .nav-menu.slideDown li:hover > ul li{
  visibility: visible;
  -webkit-transition: all 270ms ease-in-out;
  -moz-transition: all 270ms ease-in-out;
  -ms-transition: all 270ms ease-in-out;
  -o-transition: all 270ms ease-in-out;
  transition: all 270ms ease-in-out;  
}

/* default skins */

nav{

}

nav .nav-menu li ul ul,
nav .nav-menu li ul{
  background: #FFFFFF; /* Old browsers */
  -webkit-box-shadow: inset 2px 0px 15px rgba( 0, 0, 0, 0.05), 2px 5px 15px rgba( 0, 0, 0, 0.1),  0px 2px 2px rgba( 0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 0px 15px rgba( 0, 0, 0, 0.05), 2px 5px 15px rgba( 0, 0, 0, 0.1),  0px 2px 2px rgba( 0, 0, 0, 0.1);
    box-shadow: inset 1px 0px 15px rgba( 0, 0, 0, 0.05), 2px 5px 15px rgba( 0, 0, 0, 0.1),  0px 2px 2px rgba( 0, 0, 0, 0.1);  
}

nav .nav-menu li a{
  color: rgba(5, 5, 5, .5);
  text-shadow: 0px 1px 1px rgba( 255, 255, 255, .8);
  text-decoration: none;
}

nav .nav-menu li a:hover{
    color: rgba(5, 5, 5, .8);
    box-shadow: inset 0 0 9px rgba( 0, 0, 0, 0.1);
}

nav .nav-menu li  ul li a:hover,
nav .nav-menu li  ul li:hover > a{
  background: #eee;
}

nav .nav-menu li a:active,
nav .nav-menu li.nav-dropdown:hover > a,
nav .nav-menu li.active > a,
nav .nav-menu li.nav-dropdown a:active{
    box-shadow: inset 0 0 9px rgba( 0, 0, 0, 0.1);
}

nav .s-button{
  background: #eee;
}


nav.s-collapse .nav-menu > li > a:hover,
nav.s-collapse .nav-menu > li:hover > a,
nav.s-collapse .nav-menu > li.active > a,
nav.s-collapse .nav-menu li > a:active{
  background: #8abbd7; /* Old browsers */
  background: -moz-linear-gradient(top,  #8abbd7 0%, #066dab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8abbd7), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #8abbd7 0%,#066dab 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */  
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
  color: #fff;
  text-shadow: none;  
}

/* dark style */

nav.dark{
  background: #161b21; /* Old browsers */
  background: -moz-linear-gradient(top,  #161b21 0%, #0a0c0f 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161b21), color-stop(99%,#0a0c0f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #161b21 0%,#0a0c0f 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161b21', endColorstr='#0a0c0f',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2); 
  color: #fff;
  border: 1px solid rgba( 0, 0, 0, .6); 
}

nav.dark .nav-menu .nav-dropdown ul{
  background: #161b21; /* Old browsers */
  background: -moz-linear-gradient(top,  #161b21 0%, #0a0c0f 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161b21), color-stop(99%,#0a0c0f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #161b21 0%,#0a0c0f 99%); /* W3C */
  -webkit-box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.1), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.1), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    box-shadow: inset 2px 0px 15px rgba( 255, 255, 255, 0.1), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2); 
}

nav.dark .nav-menu.w-divider > li a{
  border-left: 1px solid rgba(255, 255, 255, .1);
  border-right: 1px solid rgba(0, 0, 0, .2);  
}

nav.dark .nav-menu.w-divider li ul li > a:after{
  content: ' ';
  position: absolute; 
  height: 0px;
  bottom: 0px;
  left: 5%;
  right: 5%;
  border-bottom:  1px solid rgba(255, 255, 255, .05);
  border-top: 1px solid rgba(0, 0, 0, .2);
}

nav.dark .nav-menu.w-divider li ul li:last-child > a:after,
nav.dark .nav-menu li.nav-dropdown ul li a:hover:after{
  border: none;
}

nav.dark .nav-menu.w-divider{
  border-right: 1px solid rgba(255, 255, 255, .1);
  border-left: 1px solid rgba(0, 0, 0, .2);
}

nav.dark .nav-menu li a{
  color: rgba(255, 255, 255, .6);
  text-shadow: 1px 0px 1px rgba( 0, 0, 0, .7);    
}

nav.dark .nav-menu li ul li a:hover,
nav.dark .nav-menu li ul li:hover > a{
  background: #222;
}

nav.dark .nav-menu li a:hover{
  color: rgba(255, 255, 255, .9);
  -webkit-box-shadow: inset 0 2px  15px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 2px 15px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 2px 15px rgba(255, 255, 255, 0.1);    
}

nav.dark .nav-menu li a:active,
nav.dark .nav-menu .nav-dropdown:hover > a,
nav.dark .nav-menu li.active > a,
nav.dark .nav-menu li.nav-dropdown a:active{
  -webkit-box-shadow: inset 0 2px  25px rgba( 0, 0, 0, 1);
    -moz-box-shadow: inset 0 2px 25px rgba( 0, 0, 0, 1);
    box-shadow: inset 0 2px 25px rgba( 0, 0, 0, 1); 
}

nav.dark .s-button{
  background: #161b21; /* Old browsers */
  background: -moz-linear-gradient(top,  #161b21 0%, #0a0c0f 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161b21), color-stop(99%,#0a0c0f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #161b21 0%,#0a0c0f 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #161b21 0%,#0a0c0f 99%); /* W3C */
  color: rgba( 255, 255, 255, .6);
  text-shadow: none;
  border: 1px solid rgba(25, 255, 255, .15);
  -webkit-box-shadow: inset 0 2px  5px rgba( 255, 255, 255, .1), 0px 1px 1px rgba( 0, 0, 0, .1);
    -moz-box-shadow: inset 0 2px 5px rgba( 255, 255, 255, .1), 0px 1px 1px rgba( 0, 0, 0, .1);
    box-shadow: inset 0 2px 5px rgba( 255, 255, 255, .1), 0px 1px  1px rgba( 0, 0, 0, .1);  
}


nav.dark .s-button:hover{
  color: rgba( 255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, .25); 
  -webkit-box-shadow: inset 0px 0px 7px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 7px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 7px rgba( 255, 255, 255, 0.2), 2px 5px 15px rgba( 0, 0, 0, 0.3),  0px 2px 2px rgba( 0, 0, 0, 0.2);    
}

nav.dark .s-button:active,
nav.dark .s-button.active{
  color: rgba( 255, 255, 255, .6);  
  border: 1px solid rgba(0, 0, 0, .2);
  border-top:  1px solid rgba(0, 0, 0, .3);
  border-bottom:  1px solid rgba(255, 255, 255, .1);    
  -webkit-box-shadow: inset 0 2px  5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .3), inset 0px 0px 7px rgba( 255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .3), inset 0px 0px 7px rgba( 255, 255, 255, 0.1);
    box-shadow: inset 0 2px 5px rgba( 0, 0, 0, .3), inset 0px 0px  15px rgba( 0, 0, 0, .3), inset 0px 0px 7px rgba( 255, 255, 255, 0.1);
}

/* dark s-collapse menu styles */

nav.dark.s-collapse .nav-menu li ul, 
nav.dark.s-collapse .nav-menu li ul ul{
  border: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
  background: none; 
}

nav.dark.s-collapse .nav-menu > li > a:hover,
nav.dark.s-collapse .nav-menu > li > a:active,
nav.dark.s-collapse .nav-menu > li:hover > a,
nav.dark.s-collapse .nav-menu > li.active > a{
  background: #8abbd7; /* Old browsers */
  background: -moz-linear-gradient(top,  #8abbd7 0%, #066dab 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8abbd7), color-stop(100%,#066dab)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8abbd7 0%,#066dab 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #8abbd7 0%,#066dab 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */  
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
  color: #fff;  
}

/*==========================================

  Responsive Nav s-collapse

===========================================*/

nav.s-collapse{
  min-height: 50px;
}

nav.s-collapse > .nav-menu{
  display: none;
}


nav.s-collapse .s-collapse-trigger{
  display: block;
}

nav.s-collapse:first-child .nav-menu{
  margin: 0px auto;
  margin-top: 50px;
}

nav.s-collapse .nav-menu,
nav.s-collapse .nav-menu ul{
  width: 100%;
  float: left;
}

nav.s-collapse .nav-menu.w-divider,
nav.s-collapse .nav-menu.w-divider li a{
  border: none; 
}

nav.s-collapse .nav-menu li,
nav.s-collapse .nav-menu ul li{
  width: 100%;
  float: none;
}

nav.s-collapse .nav-menu li a,
nav.s-collapse .nav-menu li a.active,
nav.s-collapse .nav-menu li.nav-dropdown a{
  margin-left: 20px;
  margin-right: 20px;
}

nav.s-collapse .nav-menu li a{
  font-weight: bold;
  float: none;
  margin-bottom: 5px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  -o-border-radius: 5px; 
  border-radius: 5px;
}

/* submenus */

nav.s-collapse .nav-menu li ul, 
nav.s-collapse .nav-menu li ul ul{
  border: none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
  background: none; 
  position: relative;
  visibility: visible;
  opacity: 1;
  float: none;
  margin-top: 0px;
  margin-left: 0px;
  display: none;
}

nav.s-collapse .nav-menu li ul ul{
  position: static;
  margin-left: 5%;
  width: auto;
}

nav.s-collapse .nav-menu li ul:before,
nav.s-collapse .nav-menu li ul:after {
  display: table;
  line-height: 0;
  content: "";
}

nav.s-collapse .nav-menu li ul:after {
  clear: both;
}



